@charset "UTF-8";

.smallBody{
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
}
.product_outer{
/*     border: 1px solid red; */
  width: 1180px;
  text-align: center;
  position: relative;   
/*     left : 0;  */
}

.product_outer .product_title{
/*   border: 1px solid red; */
  font-size: 20pt;
  position: relative;
  border-bottom: 1px solid green;
  height: 40px;
}

.product_outer .product_title span{
  position: absolute;
  left: 550px;
  font-weight: bold;
}

.product_outer .product_title_search span{
  position: absolute;
  left: 550px;
  font-weight: bold;
}

.product_outer .product_title_search .product_cnt{
	border: 1px solid red;
	left: 1000px;
}

.product_outer .product_inner{
  /* border: 1px solid blue;  */
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  border: 1px solid red;
}

.product_outer .product_inner .productList{
  border-bottom: 2px solid rgb(121, 121, 121);
  width: 330px;
  height: 500px;
  margin: 10px;
  padding: 0;
  float: left;   
  padding-bottom: 10px;
  margin: 30px;
  text-align: left; 
}

.product_outer .product_inner .page{
  border-bottom: 2px solid rgb(121, 121, 121);
  width: 1110px;
  margin: 10px;
  padding: 0;
  padding-bottom: 10px;
  margin: 30px;
  text-align: center; 
}

.intro{
  font-weight: bold;
}

.product_outer .productList .productDetail span{
  display: inline-block;
}
.product_outer .productList .productDetail input,
.product_outer .productList .productDetail span{
  width: 330px;
  height: 15px; 
}
.product_outer .product_inner .productList .innerProduct{    
  margin-bottom: 10px; 
}
.product_outer .product_inner .productList .innerProduct img{
  height: 300px; 
  width: 330px;
  cursor: pointer;    
}
table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table.type10 tbody th {
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type10 .even {
    background: #fdf3f5;
}